<!DOCTYPE html>
<html>
<head>
    <title>{{page.title}} &ndash; Euclid</title>
    <link rel="stylesheet" href="/asset?path=styles/main.css&kind=css" />
</head>
<body>
    <div class="container">
        <div class="main">
            {{> content }}
        </div>
    </div>
</body>
</html>